{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table class="table">
    <h2>Transactions history</h2>
    <tr>
        <th>Type</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    {%  if results %}
        {% for row in results %}
            <tr class="{% if row.type == 'BUY' %}success{% else %}danger{% endif %}">
                <td>{{ row.type }}</td>
                <td>{{ row.symbol }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.amount }}</td>
                <td>{{ row.date }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
{% endblock %}
