{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    {% if balance %}
        <div class="alert alert-info">
          <strong>Current balance: </strong>{{'%0.2f'| format(balance|float)}}
        </div>
    {% endif %}
    <table class="table">
        <caption><strong>General information</strong></caption>
    <tr>
        <th>Symbol</th>
        <th>Shares amount</th>
        <th>Shares cost</th>
        <th>Shares value</th>
        <th>Current shares cost</th>
        <th>Current shares value</th>
    </tr>
    {%  if results %}
        {% for symbol in results %}
            <tr>
                <td>{{ symbol }}</td>
                <td>{{ results[symbol].amount }}</td>
                <td>{{'%0.2f'| format(results[symbol].buy_cost|float)}}</td>
                <td>{{'%0.2f'| format(results[symbol].paid_value|float)}}</td>
                <td>{{ results[symbol].current_cost }}</td>
                <td>{{ results[symbol].current_value }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
{% endblock %}
