{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="{{ url_for('register') }}" method="post">
        <p>Register new user</p>
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="password_check" placeholder="Retype password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Register for free!</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
