{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    {%  if errors %}
        {%  for error in errors %}
            <div class="alert alert-danger">
              <strong>Error: </strong>{{ error }}
            </div>
        {% endfor %}
    {% elif message %}
        <div class="alert alert-success">
          <strong>{{ message }}</strong>
        </div>
    {% endif %}
    <table class="table">
        <caption><strong>Actual stocks info</strong></caption>
        <tr>
            <th>Symbol</th>
            <th>Price</th>
        </tr>
        {% if current_stocks %}
            {% for symbol in current_stocks %}
            <tr>
                <th>{{ symbol.symbol }}</th>
                <th>{{ symbol.price }}</th>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <form action="{{ url_for('sell') }}" method="post">
            <div class="form-group">
                <label for="sel1">Symbol/Amount</label>
                <select class="form-control" id="sel1" name='symb'>
                    {% if options %}
                        {% for symb in options.keys() %}
                            <option value="{{ symb }}">{{ symb }} - {{ options[symb] }}</option>
                        {% endfor %}
                    {% endif %}
                </select>

                <label for="sell_amount">Amount of shares to sell:</label>
                <input class="form-control" type="text" name="sell_amount" size="20">
            </div>

            <div class="form-group">
                <button class="btn btn-default" type="submit">Sell</button>
            </div>
    </form>
{% endblock %}
